blockquote {
  font-style: italic
}
h4{
  font-size: 12px; /* Keeps the original size */
}
a {
  color: #003399; /* Color azul oscuro */
  text-decoration: underline; /* Subrayado */
}

a:hover {
  color: #ff6600; /* Color naranja brillante al pasar el cursor */
}.navbar-brand {
  display: none !important;
}

body {
  text-align: justify;
}